.nav {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    background-color: rgb(54, 54, 61);
    position: absolute;
    top: 100px;
}

.userPictureBig {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    background-color: lightgray;
}

.userPictureSmall {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 35px;
    max-width: 35px;
    height: 35px;
    border-radius: 40px;
}

.arrowBack {
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conversation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100%;
    gap: 10px;
    margin-bottom: 80px;
    margin-top: 75px;
}

#content {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.userMessage {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.receiver {
    background-color: blue;
}

.sender {
    background-color: lightgray;
}

.messageSent {
    word-wrap: break-word;
    padding: 5px;
    min-width: 230px;
    max-width: 230px;
}

.noMessage {
    min-width: 300px;
    max-width: 300px;
    height: 40px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrowBackImg {
    height: 50%;
    padding: 0;
    margin: 0;
    position: relative;
    left: 5px;
}

.userInput {
    position: absolute;
    background-color: rgb(54, 54, 61);
    height: 55px;
    top: 675px;
    width: 300px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.sendMessageForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    gap: 5px;
    height: 100%;
}

.sendMessageInput {
    margin: 0;
    padding: 0;
    background-color: gray;
    color: white;
    height: 90%;
    border-radius: 5px;
    min-width: 70%;
}

.sendMessageButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 90%;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

.toGetFriendId {
    visibility: hidden;
    position: absolute;
}